
body {
  height: 100vh;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: #111;
  color: #f5f5f5;
  font-size: large;
  
}

h1, h2 {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}