#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 2em;
  color: 'darkgray';
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

}



.card h3 {
  font-size: x-large;
  color: black;
}

.card p {
  font-size: medium;
  color: black;
}

.card h4 {
  font-size: medium;
  color: black;
  font-variant: small-caps;
}