body {
    background-color: black;
    font-family: monospace;
    color: black;
    text-align: center;
    margin-top: 5%;
}

h1 {
    color: white;
}

.BookCards {
    display: flex;
    flex-direction: row;
    width: 500px;
    border: 1px, solid, white;
    border-radius: 5px;
    padding: 5%;
    margin: 10%;
}

.Books {
    background-color: grey;
}
